.datepicker-custom {
  width: 260px;
  height: 40px;
  background: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 10px;
  padding-left: 10px;
  font-size: 18px;
  color: #424242;
}

.react-datepicker__close-icon::after {
  background-color: #355179;
  border-color: #355179;
  color: white;
}

/* .react-datepicker__close-icon::after:hover {
  color: red;
} */
