.footer {
  /* height: 360px; */
  width: 100%;
  /* max-width: 100%; */
  background-color: #fafafa;
  font-size: 14px;
  color: #999999;
  line-height: 130%;
}

.footer-inner {
  padding: 40px 0 50px 0;
  margin: 0 calc(100% - 85%);
}

.footer-top {
  display: flex;
  margin-bottom: 20px;
  flex-direction: flex-start;
}

.footer-contents {
  display: inline-flex;
  gap: 100px;
}
.footer-contents-title {
  color: #707070;
  font-size: 18px;
  font-weight: 600;
}
.footer-contents li {
  margin-top: 16px;
  font-weight: 400;
  font-size: 14px;
}
.footer-bottom {
  border-top: 1px solid #e6e6e6;
  padding-top: 20px;
}
.footer-bottom-list {
  display: inline-flex;
  gap: 16px;
}
.footer-bottom-list li {
}
.footer-bottom-list a {
  color: #333333;
  font-weight: 600;
}

.footer-bottom-detail {
  margin-top: 30px;
  display: block;
}
.footer-bottom-detail p,
h4 {
  font-size: 12px;
}
.footer-bottom-detail h4 {
  color: #999999;
  display: contents;
}

/* 반응형 */
@media all and (max-width: 768px) {
  .footer-inner {
    /* background: pink; */
    padding: 40px 0 50px 0;
    margin: 0 calc(100% - 95%);
  }
  .footer-top {
    justify-content: center;
    text-align: center;
  }

  .footer-contents {
    display: inline-flex;
    flex-direction: column;
    gap: 40px;
  }

  .footer-contents li {
    margin-top: 10px;
  }

  .footer-bottom-list {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .footer-bottom-detail {
    justify-content: center;
    text-align: center;
  }
}
