.header {
  align-content: center;
  /* position: fixed; */
  width: 100%;
  height: 110px;
  max-width: 100%;
  background: rgba(0, 0, 0, 0);
  display: block;
  z-index: 999;
}

.nav-inner {
  /* width: calc(100% - 30px); */
  /* max-width: 1500px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 50px;
}
.header-logo-link {
  display: flex;
  align-items: center;
}
.header-logo-img {
  width: 87px;
}

.header-login {
  width: 130px;
  height: 35px;
  background: #355179;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  color: #fff;
}

.header-login p {
  color: #fff;
}

.header-nav {
  display: flex;
  gap: 10px;
}

.header-logout {
  width: 85px;
  height: 35px;
  background: #355179;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  color: #fff;
  /* z-index: 99; */
}

.header-logout p {
  color: #fff;
}
.header-user {
  display: flex;
  align-items: center;
}

.header-user-icon {
  width: 35px;
  height: 35px;
}
