.header {
  /* position: relative; */
  height: 110px;
  width: 100%;
  max-width: 100%;
  background: pink;
}
/* 
.header-logo {
  width: 90px;
  height: 90px;
  background: url("../images/glampick_logo.png");
} */
