.main-wrap {
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-sec-1 {
  width: 100%;
  max-width: 100%;
  display: block;
  /* justify-content: center;
  align-items: center; */
  background-color: bisque;
}
.m-big-title {
  margin-top: 345px;
  margin-bottom: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.m-big-title p {
  font-weight: bold;
  font-size: 45px;
  color: #fff;
  letter-spacing: -0.9px;
}
.m-search {
  margin-bottom: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.m-search-content {
}
.m-search ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.m-search li {
  margin: 0;
  padding: 0;
  float: left;
}

.m-sc-place {
}
.m-sc-date {
}
.m-sc-member {
}
.m-sc-input {
}
.m-sc-input-field {
}
.m-sc-search button {
  display: flex;
  width: 130px;
  height: 50px;
  /* padding: 10px 20px; */
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 500px;
  background: #fff;
  border: none;
}
.m-sc-search p {
  color: #355179;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
}

.main-sec-2 {
  padding-top: 100px;
  padding-bottom: 200px;
  max-width: 950px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: sandybrown;
}

.m-list {
}
.m-list-title {
  font-size: 20px;
}
.m-list-contents {
  display: flex;
  gap: 40px;
}
.m-lc-article {
  float: left;
  background: teal;
  width: 290px;
  height: 270px;
}
